@{ 

    string username = Request.Form["username"];
    string password = Request.Form["password"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>auth</title>
</head>
<body>
    <div> 
        <h2>This are the values you entered username: @username and password: @password </h2>
    </div>
</body>
</html>
